.footer {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(calc(-100% - 5rem));
  font-size: 1.4rem;
}

@media (max-width: 950px) {
  .footer {
    position: relative;
    text-align: center;
    transform: none;
    margin: 4rem 0;
    font-size: 1.6rem;
  }
}
