.heading {
  font-size: 3.6rem;
  font-weight: 500;
}

.header {
  position: absolute;
  top: 5rem;
}

.header__stats {
  margin-top: 2.8rem;
}

.header__total {
  text-align: center;
}

.header__sub-totals {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header__sub-totals-container {
  display: flex;
}

.header__sub-total {
  margin: 0 4rem;
}

.stats-heading {
  font-size: 1.6rem;
}

.stats-heading--large {
  font-size: 2.15rem;
}

.stats-number {
  color: var(--danger);
  font-size: 3.6rem;
}

.stats-number--large {
  font-size: 4rem;
}

.stats-number--small {
  font-size: 2.4rem;
}

.stats-number--green {
  color: var(--success);
}

.stats-number--yellow {
  color: var(--warning);
}

@media (max-width: 950px) {
  .header {
    position: relative;
    top: 0;
    margin-top: 4rem;
  }

  .heading {
    text-align: center;
    font-size: 3rem;
  }
}
