@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

:root {
  --bg-color: #19322d;
  --primary: #ececec;
  --danger: #ff5050;
  --success: #00ff38;
  --warning: #fcff6a;
  --dark: #292929;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--bg-color);
}

body {
  font-family: 'Roboto', sans-serif;
  font-display: auto;
  font-weight: 400;
  line-height: 1.6;
  color: var(--primary);
  padding: 0 calc((100vw - 1120px) / 2);
}

.App {
  position: relative;
  min-height: 100vh;
}

.land {
  fill: #cccccc;
  fill-opacity: 1;
  stroke: #777777;
  stroke-opacity: 1;
  stroke-width: 0.5;
}

.land--active {
  fill: var(--dark) !important;
}

.map {
  position: absolute;
  top: 18rem;
  right: 12rem;
}

.map--loading {
  animation: fade-in-out 0.5s ease-in-out infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 40%;
  }
  50% {
    opacity: 90%;
  }
  100% {
    opacity: 40%;
  }
}

.link,
.link:active,
.link:visited {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}
