@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

:root {
  --bg-color: #19322d;
  --primary: #ececec;
  --danger: #ff5050;
  --success: #00ff38;
  --warning: #fcff6a;
  --dark: #292929;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--bg-color);
}

@media (max-width: 1180px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-display: auto;
  font-weight: 400;
  line-height: 1.6;
  color: var(--primary);
  padding: 0 calc((100vw - 112rem) / 2);
}

.App {
  position: relative;
  min-height: 100vh;
}

.link,
.link:active,
.link:visited {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 950px) {
  body {
    padding: 0 2rem;
  }
}
